* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	text-transform: capitalize;
}
ol,
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}
del {
	text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
	display: block;
}
body {
	font-family: "open_sansregular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
	background: rgb(0,117,166);
background: linear-gradient(331deg, rgba(0,117,166,1) 33%, rgba(147,163,29,1) 86%);
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

header {
	padding: 2% 0;
	text-align: center;
}

header h1 {
	font-size: 40px;
	color: #dddddd;
	font-weight: 600;
}

main {
}

main .wrapper {
}

main .wrapper .content {
	display: flex;
	flex-wrap: wrap;
}

main .wrapper .content article {
	width: 48%;
	margin-right: 2%;
	margin-bottom: 30px;
}
main .wrapper .content article:last-child {
	margin-right: 0;
}

main .wrapper .content article a {
	width: 100%;
	display: block;
	text-align: center;
}

main .wrapper .content article a img {
	width: 100%;
	display: inline-block;
	border-radius: 20px;
}

main .wrapper .content article span {
	font-size: 30px;
	color: #ddd;
	margin-top: 20px;
}
.btn-container {
	margin: 50px auto;
    /* display: inline-block; */
    text-align: center;
}
button {
	padding: 14px 20px;
	background: rgb(230, 230, 230);
	color: #000;
	font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
